hr {
    border-top: 5px solid black;
    height: 3px;
}

h3{
    text-align: center;
}

p { 
    text-align: center; 
     font-size: large;
     font-size: 130%;
}

#mytarget{
    text-align: center;
    font-size: large;
    font-size: 130%;

}

#biggertext{
    text-align: center;
    font-size: large;
    font-size: 200%;

}

.moveimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(2, 2, 2);
}

a {
    display: block;
    width: 315px;
    margin: auto;
    font-size: 150%;
}

.newanchor{
    margin-left: -1px;
}

.nounderline{
    text-decoration: none;
    color: black
}

a.yellow:hover{
    background-color: yellow;
}

.underline{
    text-decoration: underline;
    text-decoration-color: gray;
    font-size: 90%;
}

.button{
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    display: flex;
    justify-content: center;
    

}

.shorter{
    width: 50%;
}

body{
    padding-bottom: 500px;
}