body {
  font-family: sans-serif;
  padding-bottom: 200px;
}

hr {
  border-top: 5px solid black;
  height: 3px;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

#mytarget {
  text-align: center;
  font-size: large;
  font-size: 130%;
}

#biggertext {
  text-align: left;
  font-size: large;
  font-size: 200%;
}

.moveimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(2, 2, 2);
}

.newanchor {
  margin-left: -1px;
}

.nounderline {
  text-decoration: none;
  color: black;
}

.removeleft {
  text-align: left;
  margin-left: 72px;
}

.spacing {
  margin-right: 100px;
  margin-left: 20px;
}
.product-box:hover {
  background-color: yellow;
}

.highlight-on-hover:hover {
  background-color: yellow;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  text-decoration-color: gray;
  font-size: 90%;
}

.buttonclass {
  background-color: yellow;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 10px;
  margin-right: 80px;
}

.shorter {
  width: 60%;
  margin-right: 2px;
}

#checkouttext {
  font-size: 150%;
}

.checkout {
  display: flex;
  align-items: center;
}

.cartbutton {
  background-color: yellow;
  border: 2px solid rgb(0, 0, 0);
  margin-left: 80px;
  padding: 5px 5px;
  height: fit-content;
}

.glazingdropdown {
  width: "500px";
  margin: auto;
  text-align: left;
}
select {
  display: block;
  width: 70%;
}

.product-box {
  width: 320px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 20px;
  padding-top: 10px;
}

.price {
  margin: 0;
}

.cartprice {
  text-align: center;
  margin: auto;
  width: 300px;
  text-align: left;
}

.shoppingtext {
  text-align: center;
  margin: auto;
  width: 300px;
}

.nav {
  text-align: center;
  font-size: x-large;
}

/* index page Flexbox stuff */
.flexbox-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}

.flexbox-container1 {
  display: flex;
  margin-right: 20px;
}

.flexbox-container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.flexbox-pc {
  justify-content: flex-end;
  margin-left: auto;
  border-bottom: 3px;
}

.container {
  display: flex;
  margin-bottom: 100px;
}

.flexbox-banner {
  border-top: 5px solid black;
}

/* shopping cart page css */
.flexbox-containershop {
  display: flex;
  justify-content: center;
}

.totallabel {
  flex: 1 0 auto;
}
.movebutton {
  display: flex;
  justify-content: flex-end;
}

.flexbox-itemimage2 {
  flex: 1 0 auto;
}
.containershop2 {
  display: flex;
  justify-content: center;
}

.totalcontainer {
  display: flex;
  justify-content: flex-end;
}

.expand {
  width: 400px;
  flex: 0 0 400px;
}
.expand2 {
  width: 700px;
}

.flexbox-itemimage3 {
  margin-right: 80px;
}

.totalamt {
  margin-right: 80px;
  margin-top: 20px;
}

/* product detail css part  */
.bigcinnamoncontainer {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px; */
}
